
/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ @font-face {
    font-family:"Aspire DemiBold";src:url("../fonts/Aspire-DemiBold.eot?") format("eot"),url("../fonts/Aspire-DemiBold.woff") format("woff"),url("../fonts/Aspire-DemiBold.ttf") format("truetype"),url("../fonts/Aspire-DemiBold.svg#Aspire-DemiBold") format("svg");font-weight:normal;font-style:normal;}
.lead-image {
    font-family: 'Aspire DemiBold', serif;
    color: #fff;
}

.lead-image h1 {
        transform: rotate(-20deg);
    }


h1 {
    font-size: 88px;
}

nav {
    font-family: serif;
}


body {
    font-family: 'Satisfy', cursive;
}

.wrapper {
    background: url('../img/wood-texture.jpg') #b59f88;
}


.lead-image {
    height: 100vh;
    text-align: center;
    white-space: nowrap;
}


.lead-image:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

h1 {
     display: inline-block;
  vertical-align: middle;
  width: 300px;
}

.navbar {
    margin-bottom: 0;
}


.content {
    padding: 10px;
    height: 100vh;
    overflow-y: scroll;
}

.card {
    padding: 10px;
    background-color: white;
    display: block;
    margin-bottom: 10px;
}
